
.image{
    background-image: url("../../src/assets/images/1db04549bd6dd1cb45fd2bd515ddecb5753114c1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}